<?xml version="1.0"?>
<launch>

  <arg name="debug"         default="false" />
  <arg name="launch-prefix" value="gdb -ex run --args" if="$(arg debug)" />
  <arg name="launch-prefix" value=""                   unless="$(arg debug)" />
  
  <arg name="trigger_acquisition" default="false" />
  <arg name="trigger_rate"        default="1.0" />

  <arg name="network_file"  default="$(find multisensor_calibration)/conf/network.yaml" />

  <node pkg="rostopic" type="rostopic" name="trigger" if="$(arg trigger_acquisition)"
        args="pub /master_node/acquisition std_msgs/Empty -r $(arg trigger_rate)" />

  <node launch-prefix="$(arg launch-prefix)" pkg="multisensor_calibration"
        type="master_node"  name="master_node" output="screen">
    
    <param name="network_file" value="$(arg network_file)" />
    <rosparam param="checkerboard">
      cols: 6
      rows: 5
      cell_width: 0.12
      cell_height: 0.12
    </rosparam>
    
  </node>


</launch>
